<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE sqlMap PUBLIC "-//ibatis.apache.org//DTD SQL Map 2.0//EN" "http://ibatis.apache.org/dtd/sql-map-2.dtd">
<sqlMap namespace="System">
    <typeAlias alias="SystemConfig" type="com.woooha.entity.core.SystemConfig" />

    <resultMap id="SystemConfigResult" class="SystemConfig">
        <result column="Key" property="key"/>
        <result column="Value" property="value"/>
    </resultMap>
	
    <select id="getAllConfig" resultMap="SystemConfigResult">
        SELECT * FROM system_config
    </select>

</sqlMap>